project/boot/*
*/project/build/target
*/project/boot
*/lib_managed
target
.manager
.DS_Store
.scala_dependencies

.classpath
.project
*.iws
*.iml
*.ipr
.idea
labs/.settings
solutions/.settings
.cache
TODO.md
.settings
labs/.cache-main
labs/.cache-tests
